.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

/*######nav######*/
.navbar-default {
    background-color: #9a9288;
    border:none;
}

.navbar{
    margin-bottom:13px;
}

.navbar-collapse.in {
    overflow-y: hidden;
}

